<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}My Collections{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    {% if request.path == url_for('auth.login_page') %}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='login_styles.css') }}"
    />
    {% endif %}
  </head>
  <body>
    <!-- Dynamic Navbar -->
    <nav>
      <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        {% if session.user_id %}
        <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
        <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
        {% else %}
        <li><a href="{{ url_for('auth.login_page') }}">Login</a></li>
        <li><a href="{{ url_for('auth.signup_page') }}">Sign Up</a></li>
        {% endif %}
      </ul>
    </nav>

    <!-- Page Content -->
    <main>{% block content %}{% endblock %}</main>

    <!-- Footer -->
    <footer>
      <p>&copy; 2025 My Collections</p>
    </footer>
  </body>
</html>
